@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, sans-serif;
  }
  .button{
    @apply overflow-hidden text-ellipsis shadow-[0px_0px_8px_rgb(215,218,224)]  py-[5px] m-[2px] px-[10px] hover:m-0  hover:py-[7px] hover:px-3 text-center w-full text-sm sx:text-base sm:text-lg   rounded font-roboto font-semibold md:text-xl cursor-pointer ;
  }
  .standart_text {
    @apply text-xs  font-semibold whitespace-nowrap sx:text-sm sm:text-base md:text-sm  l:text-base lg:text-lg;
  }
  .not-standart_text {
    @apply text-sm  font-normal font-roboto whitespace-nowrap sx:text-base sm:text-lg md:text-base  l:text-base lg:text-xl;
  }
  .wrapper {
    @apply flex flex-col w-full py-5  px-[10px] sx:px-5 sm:px-[30px] md:px-5 l:px-[30px];
  }
  .burger {
    @apply before:transition-all before:ease-in before:duration-100 after:transition-all after:ease-in after:duration-100 
    cursor-pointer block relative w-[30px] h-[23px] 
    before:content-[''] before:bg-black before:absolute before:w-full before:h-[3px] before:right-0 before:top-0 before:rounded-xl  after:content-[''] after:bg-black after:absolute after:w-full after:h-[3px] after:right-0 after:bottom-0 after:rounded-xl;
  }
  .burgerMidl {
    @apply transition-all ease-in duration-100 bg-black absolute w-full h-[3px] right-0 top-[10px] rounded-xl;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
  border-radius: 10px;
}
.dropdown_button::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-width: 11px 6px 0 6px;
  border-color:  #D7DAE0 transparent transparent transparent;
  border-style: solid;
  pointer-events: none;
}
.dropdown_button-top::after{
  border-width: 0 6px 11px  6px;
  border-color: transparent transparent #D7DAE0 transparent  ;
}
.dropdown_button-topBlack::after{
  top: 60%;
  right: 5px;
  border-width: 0 6px 11px  6px;
  border-color: transparent transparent black transparent  ;
}
.dropdown_button-black:after{
  top: 60%;
  right: 5px;
  border-color: black transparent transparent  transparent  ;
}
.truncate-text:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, transparent, white 100%);
}